body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:focus-visible {
  outline: 2px dashed var(--primary);
  outline-offset: 2px;
}
a { color: inherit; }
img { max-width: 100%; height: auto; }
button { font: inherit; }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
